#viewTable, #viewUser{
	
	width: 97%;
	height: 10em;
	overflow-y: hidden;
}

#viewUser{
	height: 5em;
}

#viewUserInfo,#viewUserInfoUpdate{
	float: left;
	margin-top: 35px;
	margin-left: 30px;
}

#bCloseSession, #bUpdateUser, #bBack
{
	margin-left: 30px;
	float: left;
}

#saveItUpdate
{
	background: transparent;
	font-family: "A.C.M.E. Explosive";
	border: 0px;
}

#userNameInfo,#userEmailInfo, #userPasswordInfo, #userIdInfo{
		
	border-left: 0px;	
	border-top: 0px;	
	border-right: 0px;	
	background: transparent;
	font-family: "A.C.M.E. Explosive";
	text-align:center;
	height: 2em;
}

#userNameInfo{	font-size: 12px;}

body fieldset
{
	float: left;
	overflow: auto;
	height: 300px;
	width: 47.5%;
}